@page
@model ProiectMedii.Pages.Services.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Creeaza serviciu</h1>

<h4>Serviciu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Service.Title" class="control-label"></label>
                <input asp-for="Service.Title" class="form-control" />
                <span asp-validation-for="Service.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Service.HairstylistID" class="control-label">Hairstylist Name</label>
                <select asp-for="Service.HairstylistID" class="form-control" asp-items="ViewBag.HairstylistID">
                </select>
                <span asp-validation-for="Service.HairstylistID" class="text-danger"></span>
            </div>

<div class="form-group">
<div class="table">
<table>
<tr>
@{
int cnt = 0;
foreach (var cat in Model.AssignedCategoryDataList)
{
if (cnt++ % 3 == 0)
{
@:</tr><tr>
}
@:<td>
<input type="checkbox"
name="selectedCategories"
value="@cat.CategoryID"
@(Html.Raw(cat.Assigned ?
"checked=\"checked\"" : "")) />
@cat.CategoryID @: @cat.Name
@:</td>
}
@:</tr>
}
</table>
</div>
</div>

            <div class="form-group">
                <label asp-for="Service.Duration" class="control-label"></label>
                <input asp-for="Service.Duration" class="form-control" />
                <span asp-validation-for="Service.Duration" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Service.Price" class="control-label"></label>
                <input asp-for="Service.Price" class="form-control" />
                <span asp-validation-for="Service.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Inapoi la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
