@page
@model ProiectMedii.Pages.Hairstylists.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Stergere hairstylist</h1>

<h3>Sunteti sigur ca doriti sa stergeti acest hairstylist?</h3>
<div>
    <h4>Hairstylist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairstylist.HairstylistName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairstylist.HairstylistName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Hairstylist.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la lista</a>
    </form>
</div>
