@page
@model ProiectMedii.Pages.Hairstylists.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Hairstylist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairstylist.HairstylistName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairstylist.HairstylistName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Hairstylist?.ID">Edit</a> |
    <a asp-page="./Index">Inapoi la lista</a>
</div>
